name: tests-aarch64

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-24.04-arm

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - name: Install homebrew
      run: |
        NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    - name: Install cdo
      run: |
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        brew install cdo
    - name: Install build dependencies
      run: ./scripts/install_exactextract_build_deps.sh
    - name: Lint and test
      run: uvx nox
